.home-body{
  margin-left:200px;
}

@media only screen and (max-width: 600px) {
  .home-body {
    margin-left:auto;
  }
  .upper-h1{
    line-height:150%;
    padding-left:15%;
    padding-top:8%;
    color:white;
    margin:0%;
    font-size:15px;
    background-color:rgba(56, 56, 56, 0.541);
  }
  .bottom-h1{
    padding-bottom:5%;
    line-height:150%;
    padding-left:15%;
    padding-top:8%;
    color:white;
    margin:0%;
    font-size:35vw;
    background-color:rgba(56, 56, 56, 0.541);
  }
}

.section1{
  background-image:url("home-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left:-25%;
  margin-top:-10%;
  margin-right:-45%;
}

.upper-h1{
  line-height:150%;
  padding-left:15%;
  padding-top:8%;
  color:white;
  margin:0%;
  font-size:3.3vw;
  background-color:rgba(56, 56, 56, 0.541);
}

.bottom-h1{
  padding-bottom:5%;
  line-height:150%;
  padding-left:15%;
  padding-top:8%;
  color:white;
  margin:0%;
  font-size:3.3vw;
  background-color:rgba(56, 56, 56, 0.541);
}

